:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'PT Sans', sans-serif;

    --primario: #784D3C;
    --secundario: #FFFFFF;
    --negro: #000000;
}
html{
    box-sizing: border-box ;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;/*esto es para */
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
/**globales**/
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;

}
h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%; /*el tamaño de las img sera del 100%*/
}
/**utilidades**/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar_texto{
    text-align: center;
}

/**header**/

.header{
    background-image: url(../img/banner.jpg);
    height: 69rem;
    background-size: cover; /*esto es para que la imagen de fondo cubra todo el espacio del header*/
    background-repeat: no-repeat; /*esto es para que la imagen de fondo no se repita*/
    background-position: center center; /*esto es para centrar la imagen de fondo*/
}
.header__texto{
    text-align: center; /*esto es para centrar el texto del header*/
    color: var(--secundario); /*esto es para que el color del texto sea blanco*/
    margin-top: 5rem; /*esto es para que el texto del header tenga un margen superior de 5rem*/
}
@media (min-width: 768px){
    .header__texto{
        margin-top: 14rem; /*esto es para que el texto del header tenga un margen superior de 50rem en pantallas mayores a 768px*/
    }
}
@media (min-width: 768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}
.logo{
    color: var(--secundario);

}
.logo__nombre{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
}
@media (min-width: 768px){
    .navegacion{
        display: flex; /*esto es para que la navegacion se muestre en flexbox*/
        gap: 2rem; /*esto es para que haya un espacio de 2rem entre los enlaces de la navegacion*/
    }
    
}
.navegacion__enlace{
    display: block; /*esto es para que los enlaces de la navegacion se muestren en bloque*/
    text-align: center; /*esto es para centrar los enlaces de la navegacion*/
    font-size: 1.8rem; /*esto es para que el tamaño de la fuente de los enlaces de la navegacion sea de 1.8rem*/
    color: var(--secundario); /*esto es para que el color de los enlaces de la navegacion sea blanco*/
}