:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'PT Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --secundario: #FFFFFF;
    --negro: #000000;
}
html{
    box-sizing: border-box ;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;/*esto es para */
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
/**globales**/
.contenedor{
    max-width: 120rem;
    width: 90%; /*esto es para que el contenedor tenga un ancho del 90% y no se vaya a los lados en pantallas grandes*/

    margin: 0 auto;
}
a {
    text-decoration: none;

}
h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;

}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%; /*el tamaño de las img sera del 100%*/
}
/**utilidades**/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar_texto{
    text-align: center;
}

/**header**/

.header{
    background-image: url(../img/banner.jpg);
    height: 50rem;
    background-size: cover; /*esto es para que la imagen de fondo cubra todo el espacio del header*/
    background-repeat: no-repeat; /*esto es para que la imagen de fondo no se repita*/
    background-position: center center; /*esto es para centrar la imagen de fondo*/
}
.header__texto{
    text-align: center; /*esto es para centrar el texto del header*/
    color: var(--secundario); /*esto es para que el color del texto sea blanco*/
    margin-top: 5rem; /*esto es para que el texto del header tenga un margen superior de 5rem*/
}
@media (min-width: 768px){
    .header__texto{
        margin-top: 14rem; /*esto es para que el texto del header tenga un margen superior de 50rem en pantallas mayores a 768px*/
    }
}
@media (min-width: 768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}
.logo{
    color: var(--secundario);

}
.logo__nombre{
    font-weight: 400;
    padding: 1.5rem;   /*esto es para que el logo tenga un padding de 2rem en la parte superior e inferior*/
}
.logo__bold{
    font-weight: 700;
}
@media (min-width: 768px){
    .navegacion{
        display: flex; /*esto es para que la navegacion se muestre en flexbox*/
        gap: 2rem; /*esto es para que haya un espacio de 2rem entre los enlaces de la navegacion*/
    }
    
}
.navegacion__enlace{
    display: block; /*esto es para que los enlaces de la navegacion se muestren en bloque*/
    text-align: center; /*esto es para centrar los enlaces de la navegacion*/
    font-size: 1.8rem; /*esto es para que el tamaño de la fuente de los enlaces de la navegacion sea de 1.8rem*/
    color: var(--secundario); /*esto es para que el color de los enlaces de la navegacion sea blanco*/
    padding: 0 ; /*esto es para que los enlaces de la navegacion tengan un padding de 0.5rem en la parte superior e inferior*/
}

@media (min-width: 768px){
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;/*esto es para que el contenido principal se muestre en dos columnas, la primera columna ocupara el doble de espacio que la segunda*/
        column-gap: 4rem; /*esto es para que haya un espacio de 4rem entre las dos columnas*/
    }
}

.entrada{
    border: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border: none;
    margin-top: 0;
}
.boton{
    display: block; /*esto es para que el boton se muestre en bloque*/
    font-family: var(--fuenteHeading);/*esto es para que la fuente del boton sea la misma que la de los headings*/
    color: var(--secundario); /*esto es para que el color del texto del boton sea blanco*/
    text-align: center; /*esto es para centrar el texto del boton*/
    padding: 1rem 3rem; /*esto es para que el boton tenga un padding de 1rem en la parte superior e inferior y de 3rem en los laterales*/
    text-transform: uppercase; /*esto es para que el texto del boton se muestre en mayusculas*/
    font-weight: 700; /*esto es para que el texto del boton tenga un grosor de 700*/
    margin-bottom: 2rem;/*esto es para que el boton tenga un margen inferior de 2rem*/
    border-radius: 0.5rem; /*esto es para que el boton tenga un borde redondeado de 1rem*/
}
@media (min-width: 768px){
    .boton{
        display: inline-block;
    }
}
.boton--primario{
    background-color: var(--negro);
}
.boton--secundario{
    background-color: var(--primario);
}
.cursos {
    list-style: none;
}

.widget-curso{
    border-bottom: 1px solid var(--gris);
}
.widget-curso:last-of-type{
    border: none;
    margin-bottom: 0; /*esto es para que el ultimo widget no tenga margen inferior*/
}
.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.widget-curso__info{
    font-family: var(--fuenteHeading);
    font-weight: normal;

}
.widget-curso__label, .widget-curso__info{
    font-size: 2rem;
}
.footer {
    background-color: var(--negro);
    padding-bottom: 1rem; /*esto es para que el footer tenga un padding de 2rem en la parte inferior*/
    margin-top: 3rem; /*esto es para que el footer tenga un margen superior de 4rem*/
}
/*sobre nosotros*/
@media (min-width: 768px){
    .sobre-nosotros{
        display: flex; /*esto es para que la sección sobre nosotros se muestre en flexbox */
        gap: 2rem; /*esto es para que haya un espacio de 2rem entre las dos columnas*/
    }
    .sobre-nosotros__imagen, .sobre-nosotros__texto{
        flex-basis: 50%;
    }
}